<!DOCTYPE HTML>
<html>
     <head>
         <title>Friend Center</title>
     </head>
     <body>
        {% block mycontent %}{% endblock %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
               {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
            </ul>
         {% endif %}
       {% endwith %}
     </body>
</html>

<!--
COMMENTS 

% block mycontent % % endblock % 
  - is where the HTML extensions will be placed

-->