{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block mycontent %}
<p>Welcome back {{username}}!</p>

<a href = "logout">
<button> logout </button>
</a>
<a href = "delete/{{current_user.id}}">
<button> Delete Account </button>
</a>
<a href = "create_post">
    <button>Create Post</button>
</a>
<a href = "update_password/{{current_user.id}}">
    <button>Update Password</button>
</a>

<p>Posts:</p>
{% for post in posts %}
{{ post.text }}
<div class="btn-group">
    <button
        type = "button"
        class="btn btn-sm btn-primary dropdown-toggle"
        data-bs-toggle="dropdown">
    </button>
    <ul class ="dropdown-menu">
        <li><a href="/delete_post/{{post.id}}" class ="dropdown-item">Delete Post</a></li>
    </ul> 
</div>
{% endfor %}
{% endblock %}